body { 
    font-family: sans-serif; max-width: 400px; margin: 40px auto; 
    background-color:  #f6f7fb;
}

#taskInput {
    width: 200px;
    height: 50px;
}
    
    
li { 
    background-color: #fff;
    font-size: 20px;
    list-style: none; 
    padding: 8px; 
    border-bottom: 1px solid #ddd; 
    display: flex; 
    /* justify-content: space-between;  */
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.06);
}


    
button { 
    margin-left: 10px; 
}

.completed {
    text-decoration: line-through;
    color: gray;
}

@media (max-width: 600px){
    body {
        max-width: 100%;
        padding: 0 12px;
    }

    li {
        font-size: 20px;
    }

    button {
        height: 50px;
        font-size: 18px;
        padding: 0 13px;
    }

    #taskInput,
    input {
        font-size: 16px !important;
    }
}